/GNUmakefile
build/
/.cache/
/.vscode/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov
qemu/build/ 
bootrom_project/*.elf
bootrom_project/*.bin
bootrom_project/*.o
bootrom_project/*.map
.DS_Store